body{
  padding: auto;
  margin: 0 auto;
}

.App{
  padding: auto;
}
.header{
  background-color: slateblue;
  color: azure;
  padding: 20px;
  margin: 0 auto;
}

.content{
  color: black;
  padding: 20px;

}

.sidebar{
  background-color: rgba(105, 90, 205, 0.075);
  color: azure;
  padding: 5px;
  padding-top: 10%;
  text-decoration: none;
}

.footer{
  background-color: rgb(42, 38, 68);
  color: azure;
  padding: 20px;
  position: absolute;
  top: 100%;
  width: 100%;
}

.navigator{
  background-color: rgba(105, 90, 205, 0.632);
  padding: 5px;
}

.row{
  width: 99%;
}

.sidebar-link{
  text-decoration: none;
  color: indigo;
  font-weight: bold;
}

.sidebar-list{
  list-style: none;
}