/* GENERAL styles*/

body {
  font-family: tahoma;
  background-color: rgba(105, 90, 205, 0.095);
}

input, select, button {
  outline: none;
}

.App {
  margin: 0 auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

/* HEADER styles */

.header {
  width: 1519px;
  min-width: 100%;
  background-color: slateblue;
  color: azure;
  padding: 20px;
  margin: 0 auto;
}

.search-box {
  width: 50%;
  margin-left: 25%;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid green;
  text-align: center;
}

.search-btn {
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  width: 48px;
  background-color: azure;
  border: 1px solid green;
}

.search-box:focus {
  outline: 0;
  background: azure;
  text-align: left;
  transition-duration: 1s;
}

.search-btn:hover {
  background-color: rgb(1, 248, 129);
  transition-duration: 0.5s;
  box-shadow: 2px 2px 1px indigo;
}

#search-area {
  width: 50%;
  display: inline;
}

.login-link {
  text-decoration: none;
  color: aliceblue;
}

.login-link:hover {
  color: rgb(1, 248, 129);
  transition-duration: 0.5s;
  text-shadow: 2px 2px 1px indigo;
}

.row {
  width: 100%;
}

.logo-grad {
  width: 70px;
  background-image: linear-gradient(to right, slateblue 0%, #93F9B9 51%, #1D976C 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 50%;
  padding: 5px;
}

.logo-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.login-icon {
  font-size: 20px;
  margin-top: 25px;
  margin-left: 25px;
}

/* NAVIGATOR styles */

.navigator {
  width: 1519px;
  min-width: 100%;
  margin: 0 auto;
  background-color: rgba(105, 90, 205, 0.5);
  margin-bottom: 2%;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: aliceblue;
  margin-right: 20px;
}

.nav-link:hover {
  color: rgb(1, 248, 129);
  transition: ease;
  transition-duration: 0.3s;
  text-shadow: 1px 1px 1px black;
}

.navs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.nav-icon {
  font-size: 20px;
  margin-right: 5px;
}

/* CONTENT styles */

.content {
  width: 1300px;
  margin: 0 auto;
  color: black;
  padding: 20px;
  background-color: #21D4FD;
  background-image: linear-gradient(45deg, #21D4FD 0%, #B721FF 100%);
  border-radius: 10px;
  box-shadow: 8px 8px 10px gray;
}

.posts {
  background-color: rgba(15, 15, 15, 0.2);
  padding: 20px;
}

/* FILTER styles */

.filter {
  display: inline;
  overflow: auto;
  padding: 100px;
}

.filter-table {
  margin: 0 auto;
  width: auto;
  color: #fff;
  background: rgba(105, 90, 205, 0.463);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.filter-settings {
  padding: 0;
  width: 200px;
}

.price-filter-inp {
  width: 40%;
  color: #1D976C;
  font-weight: bold;
}

/* FOOTER styles */

.footer {
  background-color: rgb(51, 46, 81);
  color: azure;
  padding: 20px;
  width: 1519px;
  min-width: 100%;
  height: 500px;
  margin-top: 20%;
}

/* POST styles */

.post {
  width: 222px;
  height: 280px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 15px;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  font-size: 15px;
}

.post:hover {
  background-color: rgba(255, 255, 255, 0.952);
  transition-duration: 0.3s;
  box-shadow: 5px 5px 5px indigo;
}

.post-img {
  width: 100%;
  height: 50%;
  background-color: rgba(105, 90, 205, 0.455);
  border-radius: 10px;
}

.post-price {
  background-color: rgb(20, 193, 114);
  color: white;
  padding: 5px;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 5px;
}

.post-price-sec {
  background-color: rgb(20, 193, 114);
  color: white;
  padding: 5px;
  width: 200px;
  border-radius: 15px;
  display: inline-block;
}

.post-date {
  color: grey;
  font-size: 12px;
  display: block;
}

.post-fav-btn {
  margin-left: 82%; 
  font-size: 25px;
  padding: 0;
}

.post-fav-btn-sec {
  font-size: 30px;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 8px;
  left: 70px;
}

/* PRODUCT styles */
.product{
  padding: 10px;
}

.product-img{
  width: 900px;
  height: 600px;
  background-color: rgba(105, 90, 205, 0.455);
  border-radius: 10px;
  margin: 0 auto;
}

.product-info{
  background-color: rgb(239, 238, 255);
  padding: 20px;
  font-size: 15px;
  border-radius: 10px;

}

.price-fav-box{
  position: static;
}


/* SEARCH styles */

.s-results{
  position: fixed;
  background-color: rgba(105, 90, 205, 0.455);
  color: azure;
  padding: 1%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/*=--------------=*/