html,
body {
  padding: 0;
  margin: 0;
  font-family: tahoma;
  background-color: rgba(105, 90, 205, 0.095);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#nprogress .bar {
  background-color: rgb(1, 248, 129);
  height: 5px;
}

#nprogress .spinner {
  display: none;
}